@media screen and (max-width:1024px){
    .gallery li{
        width: 50%;
    }
}
@media screen and (max-width:990px) {
    .gallery li{
        width: 35%;
    } 
}
@media screen and (max-width:768px) {
    .gallery li{
        width:100%;
    } 
}